@model List<Post>
@using System.Security.Claims

<main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">
    <div>Reported posts</div>
    <hr />
    @foreach (var post in Model)
    {
        TimeSpan timeSpanSincePosted = DateTime.UtcNow.Subtract(post.DateCreated);

        string displayName = "";

        if (timeSpanSincePosted.TotalDays > 365)
            displayName = $"{(int)timeSpanSincePosted.Days / 365}y ago";
        else if (timeSpanSincePosted.TotalDays >= 1)
            displayName = $"{(int)timeSpanSincePosted.Days}d ago";
        else if (timeSpanSincePosted.TotalHours >= 1)
            displayName = $"{(int)timeSpanSincePosted.TotalHours}h ago";
        else if (timeSpanSincePosted.TotalMinutes >= 1)
            displayName = $"{(int)timeSpanSincePosted.Minutes}m ago";
        else
            displayName = "Just now";

        <div id="post-@post.Id" class="bg-white rounded-xl shadow-sm text-sm font-medium border1 mt-5">
            @* Post heading *@
            <div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
                <a asp-controller="User" asp-action="Details" asp-route-userId="@post.UserId">
                    <img src="@(string.IsNullOrEmpty(post.User.ProfilePictureUrl) ? Url.Content("~/images/avatar/user.png") : Url.Content(post.User.ProfilePictureUrl))"
                         class="w-9 h-9 rounded-full" />
                </a>
                <div class="flex-1">
                    <a asp-controller="User" asp-action="Details" asp-route-userId="@post.UserId">
                        <div class="text-black">@post.User.FullName</div>
                        <div class="text-xs text-gray-500/80" title="@post.DateCreated.ToString("MM/dd/yyyy HH:mm")">
                            @displayName
                        </div>
                    </a>
                </div>
            </div>

            @* Post content *@
            <a asp-controller="Home" asp-action="GetPosById" asp-route-postId="@post.Id">
                <div class="sm:px-4 p-2.5 pt-0 w-full">
                    <p class="font-normal">
                        @post.Content
                    </p>
                </div>
            </a>
            @if (!string.IsNullOrEmpty(post.ImageUrl))
            {
                <a asp-controller="Home" asp-action="GetPosById" asp-route-postId="@post.Id">
                    <div class="relative w-full h-full">
                        <img src="@Url.Content(post.ImageUrl)" class="sm:rounded-lg w-full h-full object-cover" />
                    </div>
                </a>
            }
        </div>
    }
</main>
