@model Post

@{
	TimeSpan timeSpanSincePosted = DateTime.UtcNow.Subtract(Model.DateCreated);

	string displayName = "";
	if (timeSpanSincePosted.TotalDays > 365)
		displayName = $"{timeSpanSincePosted.Days/365}y ago";
	else if (timeSpanSincePosted.TotalDays >= 1)
		displayName = $"{timeSpanSincePosted.Days}d ago";
	else if (timeSpanSincePosted.TotalHours >= 1)
		displayName = $"{timeSpanSincePosted.Days}h ago";
	else if (timeSpanSincePosted.TotalMinutes >= 1)
		displayName = $"{timeSpanSincePosted.Minutes}m ago";
    else
		displayName = "Just now";
}

<div class="bg-white rounded-xl shadow-sm text-sm font-medium border1">
	@* Post heading *@
	<div class="flex gap-3 sm:p-4 p-2.5 text-sm font-medium">
		<a>
			<img src="@(string.IsNullOrEmpty(Model.User.ProfilePictureUrl) ? "~/images/avatar/user.png" : @Url.Content(Model.User.ProfilePictureUrl))" class="w-9 h-9 rounded-full" />
		</a>
		<div class="flex-1">
			<a>
				<div class="text-black">@Model.User.FullName</div>
				<div class="text-xs text-gray-500/80" title="@Model.DateCreated.ToString("MM/dd/yyyy HH:mm")">@displayName</div>
			</a>
		</div>
		<div class="-mr-1">
			<div class="forms-container" style="display: flex; gap: 10px; align-items: center;">
				<form>
					<input type="hidden" name="postId" />
					<button type="submit" class="hover:!bg-red-50 icon-link">
						<img src="~/images/icons/padlock.png" class="w-6 h-6" />
					</button>
				</form>
				<form asp-controller="Home" asp-action="Delete">
					<input type="hidden" name="postId" />
					<button type="submit" class="text-red-400 hover:!bg-red-50 icon-link">
						<img src="~/images/icons/recycle-bin.png" class="w-6 h-6" />
					</button>
				</form>
				<form asp-controller="Home" asp-action="Report">
					<input type="hidden" name="postId" />
					<button type="submit" class="hover:!bg-red-50 icon-link">
						<img src="~/images/icons/flag.png" class="w-6 h-6" />
					</button>
				</form>
			</div>
		</div>
	</div>

	@* Post content *@
	<a>
		<div class="sm:px-4 p-2.5 pt-0 w-full">
			<p class="font-normal">
				@Model.Content
			</p>
		</div>
	</a>

	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<a>
			<div class="relative w-full lg:h-96 h-full sm:px-4">
				<img src="@Url.Content(Model.ImageUrl)" class="sm:rounded-lg w-full h-full object-cover" />
			</div>
		</a>
	}

	@* Icons *@
	<div class="sm:p-4 p-2.5 flex items-center gap-4 text-xs font-semibold">
		<div class="flex items-center gap-2.5">
			<a class="button-icon text-red-500">
				<img src="~/images/icons/heart.png" class="text-lg w-6 h-6" />
			</a>
			<a href="#">24</a>
		</div>
		<div class="flex items-center gap-3">
			<a class="button-icon">
				<img src="~/images/icons/conversation.png" class="text-lg w-6 h-6" />
			</a>
			<a href="#">5</a>
		</div>
		<div class="ml-auto"></div>
		<div>
			<a class="button-icon ml-auto">
				<img src="~/images/icons/bookmark-white.png" class="text-lg w-6 h-6" />
			</a>
		</div>
	</div>

	@* Add comment section *@
	<div>
		<div class="sm:px-4 sm:py-3 p-2.5 border-t border-gray-100 flex items-center gap-1">
			<img src="~/images/avatar/user.png" class="w-6 h-6 rounded-full" />
			<div class="flex-1 relative overflow-hidden h-10">
				<textarea placeholder="Add Comment...." rows="1" class="w-full resize-none !bg-transparent px-4 py-2 focus:!border-transparent focus:!ring-transparent"></textarea>
			</div>
			<button class="text-sm rounded-full py-1.5 px-3.5 bg-secondery">Comment</button>
		</div>
	</div>
</div>